extends ../layouts/main

block content

  section.container
    .content

        h2.mb-48.text-center Leaderboards
        .gridlex.dashboard
          .col-4_md-6_sm-12
            .dash-component
              h4.lined Weight Lost %
              table
                -for (x=1; x<11; x++)
                  tr
                    td= x
                    td John Smith
                    td 277
          .col-4_md-6_sm-12
            .dash-component
              h4.lined Total Minutes of Activity
              table
                -for (x=1; x<11; x++)
                  tr
                    td= x
                    td John Smith
                    td 277
          .col-4_md-6_sm-12
            .dash-component
              h4.lined Fat Percentage
              table
                -for (x=1; x<11; x++)
                  tr
                    td= x
                    td John Smith
                    td 277
          .col-4_md-6_sm-12
            .dash-component
              h4.lined Total Steps
              table
                -for (x=1; x<11; x++)
                  tr
                    td= x
                    td John Smith
                    td 277
          .col-4_md-6_sm-12
            .dash-component
              h4.lined Total Distance
              table
                -for (x=1; x<11; x++)
                  tr
                    td= x
                    td John Smith
                    td 277
